.sidebar, .sidebar-content {
    background: #248691;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    color: #ffff;
}


.sidebar-link, a.sidebar-link {
    background: #136770;
    color: #ffff;
}

a.sidebar-link:hover {
    background:linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.088) 50%,transparent);border-left-color:#3b7ddd;
    color:#e9ecef;
    
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link{
    background:linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.088) 50%,transparent);border-left-color:#3b7ddd;
    color:#e9ecef;
}
    